/*
 * -------------------------------------------------
 *  nf-core/bactmap Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

docker.enabled = true
process.container = 'bioinformant/bactmap:latest'

process {
  cpus = { check_max( 1, 'cpus' ) }
  memory = { check_max( 2.GB, 'memory' ) }
  time = 24.h

  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 8.GB
  max_cpus = 8
  max_time = 240.h
  memory_for_tree_building = 15.GB
  cpus_for_tree_building = 8
}
