/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/bactmap -profile test
 */

params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  indir = test-data
  fastq_pattern = '*R{1,2}.fastq.gz'
  reference = 'test-data/reference.fasta'
  filtering_conditions  = '%QUAL<25 || FORMAT/DP<5 || MAX(FORMAT/ADF)<1 || MAX(FORMAT/ADR)<1 || MAX(FORMAT/AD)/SUM(FORMAT/DP)<0.9 || MQ<30 || MQ0F>0.1'

}
