/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/bactmap -profile test
 */

params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  read_paths = [
    [
      'sample1',
      [
        'https://github.com/aunderwo/test-datasets/raw/bactmap/sample1_R1.fastq.gz',
        'https://github.com/aunderwo/test-datasets/raw/bactmap/sample1_R2.fastq.gz'
      ]
    ],
    [
      'sample2',
      [
        'https://github.com/aunderwo/test-datasets/raw/bactmap/sample2_R1.fastq.gz',
        'https://github.com/aunderwo/test-datasets/raw/bactmap/sample2_R2.fastq.gz'
      ]
    ],
    [
      'sample3',
      [
        'https://github.com/aunderwo/test-datasets/raw/bactmap/sample3_R1.fastq.gz',
        'https://github.com/aunderwo/test-datasets/raw/bactmap/sample3_R2.fastq.gz'
      ]
    ]
  ]
  reference = 'https://github.com/aunderwo/test-datasets/raw/bactmap/reference.fasta'
  filtering_conditions  = '%QUAL<25 || FORMAT/DP<5 || MAX(FORMAT/ADF)<1 || MAX(FORMAT/ADR)<1 || MAX(FORMAT/AD)/SUM(FORMAT/DP)<0.9 || MQ<30 || MQ0F>0.1'
  tree = 'true'
  // Output dir
  outdir = 'test_out'
}
