/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/bactmap -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '4.GB',
        time: '10.m',
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    // Genome references
    // input                      = params.pipelines_testdata_base_path + '/samplesheet.csv'
    input                      = params.pipelines_testdata_base_path + 'test-datasets/bactmap/samplesheet.csv'
    reference                  = params.pipelines_testdata_base_path + 'modules/data/genomics/prokaryotes/bacteroides_fragilis/genome/genome.fna.gz'
}
