/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/bactmap -profile test_full,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/bactmap/samplesheet.csv'
    reference = 'https://raw.githubusercontent.com/nf-core/test-datasets/bactmap/genome/NCTC13799.fna'

    modules {
        'bcftools_filter' {
            args = "--soft-filter LowQual --exclude '%QUAL<25 || FORMAT/DP<1 || MQ<30 || MQ0F>0.1' --output-type z"
            suffix = ".filtered"
            publish_dir   = 'variants'
        }
        'alignpseudogenomes' {
            non_GATC_threshold = 0.8
        }
        'rapidnj' {
            build = true
        }
        'fasttree' {
            build = true
        }
        'iqtree' {
            build = true
        }
        'raxmlng' {
            build = true
        }
    }
    remove_recombination = true
}
