/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/bactmap -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '12.GB',
        time: '30.m',
    ]
}

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data for full size test
    input = '/Users/ajv37/Documents/Pipelines/bactmap_test/samplesheet.csv'
    // Genome references

    fasta = '/Users/ajv37/Documents/Pipelines/bactmap_test/data/genome.fna.gz'
}
