/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/bactmap -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    max_memory = '2.GB'
    max_cpus   = 2
    max_time   = '1.h'

    input      = 'https://raw.githubusercontent.com/nf-core/test-datasets/bactmap/samplesheet.csv'
    reference  = 'https://raw.githubusercontent.com/nf-core/test-datasets/bactmap/genome/NCTC13799.fna'
    rapidnj    = true
    fasttree   = true
    iqtree     = true
    raxmlng    = true

    modules {
        'bcftools_filter' {
            args = "--soft-filter LowQual --exclude '%QUAL<25 || FORMAT/DP<1 || MQ<30 || MQ0F>0.1' --output-type z"
            suffix = ".filtered"
            publish_dir   = 'variants'
        }
        'alignpseudogenomes' {
            non_GATC_threshold = 0.8
        }
    }
    remove_recombination = true
}
